@using Accounting_System.Utility

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Accounting System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/homePageDesign.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Accounting_System.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet"> <!--Google fonts-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" /> <!--Select2 plugins-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.css" /><!--Data table pug-in-->
</head>
<body>
    <header>
        <partial name="_Notification"></partial>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3 fixed-top">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AAS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: darkgray !important">
                                Accounts Receivable
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="SalesInvoice" asp-action="Index">Sales Invoice</a></li>
                                <li><a class="dropdown-item" asp-controller="ServiceInvoice" asp-action="Index">Service Invoice</a></li>
                                <li class="nav-item dropend">
                                    <a class="dropdown-item dropdown-toggle" role="button" data-bs-toggle="dropdown" asp-controller="Receipt" asp-action="CollectionIndex">
                                        Collection Receipt
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-controller="Receipt" asp-action="CollectionCreateForService">For Service</a></li>
                                        <li class="nav-item dropend">
                                            <a class="dropdown-item dropdown-toggle" role="button" data-bs-toggle="dropdown" style="color: gray !important">
                                                For Sales
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" asp-controller="Receipt" asp-action="SingleCollectionCreateForSales">Single Invoice</a></li>
                                                <li><a class="dropdown-item" asp-controller="Receipt" asp-action="MultipleCollectionCreateForSales">Multiple Invoice</a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li><a class="dropdown-item" asp-controller="DebitMemo" asp-action="Index">Debit Memo</a></li>
                                <li><a class="dropdown-item" asp-controller="CreditMemo" asp-action="Index">Credit Memo</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: darkgray !important">
                                Accounts Payable
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="PurchaseOrder" asp-action="Index">Purchase Order</a></li>
                                <li><a class="dropdown-item" asp-controller="ReceivingReport" asp-action="Index">Receiving Report</a></li>
                                <li class="nav-item dropend">
                                    <a class="dropdown-item dropdown-toggle" role="button" data-bs-toggle="dropdown" style="color: gray !important">
                                        Check Voucher
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-controller="CheckVoucherTrade" asp-action="Index">Trade</a></li>
                                        <li class="nav-item dropend">
                                            <a class="dropdown-item dropdown-toggle" role="button" data-bs-toggle="dropdown" style="color: gray !important">
                                                Non-Trade
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" asp-controller="CheckVoucherNonTradeInvoice" asp-action="Index">Invoicing</a></li>
                                                <li><a class="dropdown-item" asp-controller="CheckVoucherNonTradePayment" asp-action="Index">Payment</a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li><a class="dropdown-item" asp-controller="JournalVoucher" asp-action="Index">Journal Voucher</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: darkgray !important">
                                Inventory
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Inventory" asp-action="BeginningInventory">Beginning</a></li>
                                <li><a class="dropdown-item" asp-controller="Inventory" asp-action="ActualInventory">Actual</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: darkgray !important">
                                Books
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Report" asp-action="DisbursementBook">Cash Disbursement</a></li>
                                <li><a class="dropdown-item" asp-controller="Report" asp-action="CashReceiptBook">Cash Receipt</a></li>
                                <li><a class="dropdown-item" asp-controller="Report" asp-action="GeneralLedgerBook">General Ledger</a></li>
                                <li><a class="dropdown-item" asp-controller="Report" asp-action="InventoryBook">Inventory</a></li>
                                <li><a class="dropdown-item" asp-controller="Report" asp-action="JournalBook">Journal</a></li>
                                <li><a class="dropdown-item" asp-controller="Report" asp-action="PurchaseBook">Purchase</a></li>
                                <li><a class="dropdown-item" asp-controller="Report" asp-action="SalesBook">Sales</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: darkgray !important">
                                Master File
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Customer" asp-action="Index">Customers</a></li>
                                <li><a class="dropdown-item" asp-controller="Product" asp-action="Index">Products</a></li>
                                <li><a class="dropdown-item" asp-controller="Service" asp-action="Index">Services</a></li>
                                <li><a class="dropdown-item" asp-controller="Supplier" asp-action="Index">Suppliers</a></li>
                                <li><a class="dropdown-item" asp-controller="BankAccount" asp-action="Index">Bank Accounts</a></li>
                                <li><a class="dropdown-item" asp-controller="ChartOfAccount" asp-action="Index">Chart of Accounts</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: darkgray !important">
                                Report
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Report" asp-action="AuditTrail">Audit Trail</a></li>
                                <li><a class="dropdown-item" asp-controller="Report" asp-action="SummaryOfChartOfAccount">Trial Balance</a></li>
                                <li><a class="dropdown-item" asp-controller="Inventory" asp-action="InventoryReport">Inventory</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: darkgray !important">
                                Import / Export
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="SalesInvoice" asp-action="Index" asp-route-view="@nameof(DynamicView.SalesInvoice)">Sales Invoice</a></li>
                                <li><a class="dropdown-item" asp-controller="ServiceInvoice" asp-action="Index" asp-route-view="@nameof(DynamicView.ServiceInvoice)">Service Invoice</a></li>
                                <li><a class="dropdown-item" asp-controller="Receipt" asp-action="CollectionIndex" asp-route-view="@nameof(DynamicView.CollectionReceipt)">Collection Receipt</a></li>
                                <li><a class="dropdown-item" asp-controller="DebitMemo" asp-action="Index" asp-route-view="@nameof(DynamicView.DebitMemo)">Debit Memo</a></li>
                                <li><a class="dropdown-item" asp-controller="CreditMemo" asp-action="Index" asp-route-view="@nameof(DynamicView.CreditMemo)">Credit Memo</a></li>
                                <li><a class="dropdown-item" asp-controller="PurchaseOrder" asp-action="Index" asp-route-view="@nameof(DynamicView.PurchaseOrder)">Purchase Order</a></li>
                                <li><a class="dropdown-item" asp-controller="ReceivingReport" asp-action="Index" asp-route-view="@nameof(DynamicView.ReceivingReport)">Receiving Report</a></li>
                                <li><a class="dropdown-item" asp-controller="CheckVoucher" asp-action="Index" asp-route-view="@nameof(DynamicView.CheckVoucher)">Check Voucher</a></li>
                                <li><a class="dropdown-item" asp-controller="JournalVoucher" asp-action="Index" asp-route-view="@nameof(DynamicView.JournalVoucher)">Journal Voucher</a></li>
                                <li><a class="dropdown-item" asp-controller="Customer" asp-action="Index" asp-route-view="@nameof(DynamicView.Customer)">Customer Master File</a></li>
                                <li><a class="dropdown-item" asp-controller="Product" asp-action="Index" asp-route-view="@nameof(DynamicView.Product)">Product Master File</a></li>
                                <li><a class="dropdown-item" asp-controller="Supplier" asp-action="Index" asp-route-view="@nameof(DynamicView.Supplier)">Supplier Master File</a></li>
                                <li><a class="dropdown-item" asp-controller="Service" asp-action="Index" asp-route-view="@nameof(DynamicView.Service)">Service Master File</a></li>
                                <li><a class="dropdown-item" asp-controller="BankAccount" asp-action="Index" asp-route-view="@nameof(DynamicView.BankAccount)">Bank Account Master File</a></li>
                                <li><a class="dropdown-item" asp-controller="ChartOfAccount" asp-action="Index" asp-route-view="@nameof(DynamicView.ChartOfAccount)">Chart Of Account Master File</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container" style="padding-top:5rem">
        <partial name="_Notification" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Accounting_System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script><!--select 2 scripts-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script><!--Sweet alert scripts-->
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script><!--data tables scripts-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="~/js/submit-blocker.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
