@model ReceivingReport
@using Accounting_System.Models.AccountsPayable
@using Accounting_System.Utility
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="modal fade" id="Preview-@Model.Id" data-bs-backdrop="static" aria-labelledby="PreviewSalesInvoiceLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="PreviewSalesInvoiceLabel">Preview</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close">
                </button>
            </div>
            <div class="modal-body">
                <br />
                <div class="text-end">
                    <img src="~/img/Filpride.jpg" height="" width="130px" />
                </div>
                <div class="text-center">
                    <h2><u><b>&nbsp;FILPRIDE RESOURCES INC.&nbsp;</b></u></h2>
                    <p style="line-height: 1; margin-top:-7px;">
                        57 Westgate Office, Sampson Road, CBD, Subic Bay Freeport Zone,<br />
                        Kalaklan, Olongapo City, 2200 Zambales, Philippines<br />
                        VAT Reg. TIN: 000-216-589-00000
                    </p>
                </div>

                <h3 class="text-start"><span style="display: inline-block; margin-top:50px;"><b>RECEIVING REPORT</b></span></h3>
                <div class="text-end" style="margin-top:-50px;">
                    <h6><b>No.&nbsp;@Html.DisplayFor(model => model.RRNo)</b></h6>
                </div>


                <div class="w-100 text-end" style="margin-top:20px; padding-bottom:10px;">
                    <span><b>Date:</b></span>
                    <span class="underline" style="display: inline-block; width: 20%; text-align:center;">@Model.Date.ToShortDateString()</span><br />
                </div>

                <div>
                    <table class="table-bordered w-100">
                        <tbody>
                            <tr>
                                <td colspan="2" style="padding-left:10px;" class="text-start">Supplier: &nbsp; @Html.DisplayFor(model => model.PurchaseOrder.Supplier.Name)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div style="margin-top:20px;">
                    <table class="table-bordered w-100">
                        <tbody>
                            <tr>
                                <td colspan="7" style="padding-left:20px;" class="text-start">DETAILS</td>
                            </tr>
                            <tr>
                                <td class="text-center" style="width:12.5%">PO#</td>
                                <td class="text-center" style="width:12.5%">SUPPLIER INVOICE#/DATE</td>
                                <td class="text-center" style="width:25%">TRUCK/VESSELS</td>
                                <td class="text-center" style="width:12.5%">PRODUCT</td>
                                <td class="text-center" style="width:12.5%">QTY SERVED</td>
                                <td class="text-center" style="width:12.5%">QTY RECEIVED</td>
                                <td class="text-center" style="width:12.5%">GAIN/LOSS</td>
                            </tr>
                            <tr>
                                <td class="text-center p-lg-4">@Html.DisplayFor(model => model.PONo)</td>
                                <td class="text-center p-lg-4">@Html.DisplayFor(model => model.SupplierInvoiceNumber)</td>
                                <td class="text-center p-lg-4">@Html.DisplayFor(model => model.TruckOrVessels)</td>
                                <td class="text-center p-lg-4">@Html.DisplayFor(model => model.PurchaseOrder.Product.Name)</td>
                                <td class="text-center p-lg-4">@Html.DisplayFor(model => model.QuantityDelivered)</td>
                                <td class="text-center p-lg-4">@Html.DisplayFor(model => model.QuantityReceived)</td>
                                <td class="text-center p-lg-4">@Html.DisplayFor(model => model.GainOrLoss)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div>
                    <table class="table-bordered w-100 mt-2">
                        <tbody>
                            <tr>
                                <td colspan="2" style="padding-left:10px;" class="text-start">Other Reference: &nbsp; @Html.DisplayFor(model => model.OtherRef)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div style="margin-top:10px;">
                    <table class="table-bordered w-100">
                        <tbody>
                            <tr>
                                <td class="p-lg-4 text-start" colspan="6" style="padding-left:20px;">REMARKS : @Html.DisplayFor(model => model.Remarks)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="text-center w-100" style="margin-top:10px;">
                    <p>
                        <em><strong>"THIS DOCUMENT IS NOT VALID FOR CLAIM OF INPUT TAX"</strong></em><br />
                        <span>Acknowledgement Certificate No:</span>
                        <span style="display: inline-block; width:150px;">@CS.ACCN</span>
                        <span>&nbsp;&nbsp;Date Issued:</span>
                        <span style="display: inline-block; width:50px;">@CS.DateIssued</span><br />
                        Series: RR0000000001 - RR9999999999
                        Date and Time Created:&nbsp; @Html.DisplayFor(model => model.CreatedDate)
                    </p>
                </div>

                <br />
            </div>
        </div>
    </div>
</div>
