@model IEnumerable<Accounting_System.Models.ReceivingReport>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<partial name="_Notification">
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RRNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseOrder.PONo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruckOrVessels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityDelivered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GainOrLoss)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RRNo)
            </td>
            <td>
                @item.Date.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseOrder.PONo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TruckOrVessels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityDelivered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityReceived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GainOrLoss)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Print" asp-route-id="@item.Id">Print</a> 
            </td>
        </tr>
}
    </tbody>
</table>
