@using Accounting_System.Models.ViewModels
@model ViewModelBook

@{
ViewData["Title"] = "Purchase Book";
var dateFrom = ViewBag.DateFrom;
var dateTo = ViewBag.DateTo;
}

<h1>@ViewData["Title"]</h1>
<hr />

<form id="dynamicForm" method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="mb-3">
                <label asp-for="DateFrom" class="control-label"></label>
                <input type="date" asp-for="DateFrom" class="form-control" id="dateFrom" value="@dateFrom" />
                <span asp-validation-for="DateFrom" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DateTo" class="control-label"></label>
                <input type="date" asp-for="DateTo" class="form-control" id="dateTo" value="@dateTo" />
                <span asp-validation-for="DateTo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="control-label">Select type of reports</label>
                <select name="selectedFiltering" class="form-control js-select2">
                    <option value="" selected="Disabled">--Select an option--</option>
                    <option value="RRDate">Purchase Book based on RR Date</option>
                    <option value="DueDate">Purchase Book based on Due Date</option>
                    <option value="UnpostedRR">Unposted RR (Show Quantity)</option>
                    <option value="POLiquidation">PO Liquidation (Based on Due Date)</option>
                </select>
            </div>
        </div>

        <div class="col-md-4">
        <p class="control-label">PO Liquidation Per PO</p>
            <div class="form-group mb-3">
                <label class="control-label">PO# From:</label>
                <select name="poListFrom" class="form-control js-select2" asp-items="@Model.PO">
                    <option></option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">PO# To:</label>
                <select name="poListTo" class="form-control js-select2" asp-items="@Model.PO">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-primary" onclick="submitForm('PurchaseBookReport')"><i class="bi bi-printer"></i> Generate</button>
            <button type="button" class="btn btn-primary" onclick="submitForm('GeneratePurchaseBookTxtFile')"><i class="bi bi-file-text"></i> Generate as .txt file</button>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function submitForm(action) {
            // No need to check all inputs, only required ones
            const dateFrom = document.getElementById("dateFrom");
            const dateTo = document.getElementById("dateTo");
            let allValid = true;

            if (!dateFrom.value) {
                dateFrom.setCustomValidity('This field is required');
                dateFrom.reportValidity();
                allValid = false;
            } else {
                dateFrom.setCustomValidity(''); // Clear previous error message
            }

            if (!dateTo.value) {
                dateTo.setCustomValidity('This field is required');
                dateTo.reportValidity();
                allValid = false;
            } else {
                dateTo.setCustomValidity(''); // Clear previous error message
            }

            if (allValid) {
                const form = document.getElementById('dynamicForm');
                form.action = action;
                form.submit();
            }
        }

    </script>
}

