@model IEnumerable<Accounting_System.Models.PurchaseOrder>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<partial name="_Notification">
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover" id="myOwnTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PONo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PONo)
            </td>
            <td>
                @item.Date.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @if (item.CreatedBy == UserManager.GetUserName(User))
                {
                    if (item.IsPosted != true)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-light">Edit</a>
                    }
                    if (item.IsPosted == true)
                    {
                        <a asp-action="Print" asp-route-id="@item.Id" class="btn btn-light">Print PO</a>
                    }
                    if (item.IsPosted != true)
                    {
                        <a class="btn btn-light" onclick="confirmPost(@item.Id)">Post</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
    @section Scripts{
        <script>
            function confirmPost(poId) {
                console.log(poId);
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Post'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Replace with the actual URL that you want to redirect to
                        var url = `/PurchaseOrder/Post?poId=${poId}`;
                        window.location.href = url;
                    }
                })
            }
        </script>
    }
