@model IEnumerable<SalesInvoice>
@using Accounting_System.Models.AccountsReceivable
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Sales Invoice";
}

<h1>Sales Invoices</h1>
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary rounded-3"><i class="bi bi-plus-lg"></i> New</a>
</p>

<div class="table-responsive">
    <table class="table table-hover" id="myOwnTable">
        <thead>
            <tr class="text-nowrap">
                <th>
                    @Html.DisplayNameFor(model => model.SINo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.Terms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th style="width: 25%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in Model)
            {
                <tr class="align-text-bottom">
                    <td>
                        @Html.DisplayFor(model => invoice.SINo)
                    </td>
                    <td>
                        @Html.DisplayFor(model => invoice.Customer.Name)
                    </td>
                    <td>
                        @invoice.TransactionDate.ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(model => invoice.Customer.Terms)
                    </td>
                    <td>
                        @Html.DisplayFor(model => invoice.Amount)
                    </td>
                    <td class="text-center">
                        @if (invoice.CreatedBy == UserManager.GetUserName(User))
                        {
                            if (!invoice.IsPosted && !invoice.IsVoided && !invoice.IsCanceled)
                            {
                                <a asp-action="Edit" asp-route-id="@invoice.Id" class="btn btn-light">Edit</a>
                                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#Preview-@invoice.Id" data-bs-url="@Url.Action($"Preview/{invoice.Id}")">
                                    Preview
                                </button>
                                @await Html.PartialAsync("_PreviewPartialView", invoice)
                                <a class="btn btn-light" onclick="confirmPost(@invoice.Id)">Post</a>
                                <a class="btn btn-light" onclick="confirmCancel(@invoice.Id)">Cancel</a>
                            }
                            if (invoice.IsPosted && !invoice.IsVoided && !invoice.IsCanceled)
                            {
                                <a asp-action="PrintInvoice" asp-route-id="@invoice.Id" class="btn btn-light">Print</a>
                                if (invoice.AmountPaid == 0)
                                {
                                    <a class="btn btn-light" onclick="confirmVoid(@invoice.Id)">Void</a>
                                }
                                else
                                {
                                    <button class="btn btn-light" disabled readonly>Void</button>
                                }
                            }
                        }

                        @if (invoice.IsVoided)
                        {
                            <span class="badge rounded-pill bg-danger ">VOIDED</span>
                        }
                        else if (invoice.IsCanceled)
                        {
                            <span class="badge rounded-pill bg-warning ">CANCELLED</span>
                        }
                        else
                        {
                            @if (invoice.CreatedBy != UserManager.GetUserName(User))
                            {
                                <span class="badge rounded-pill bg-info ">VALID</span>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @section Scripts {
        <script>
            function confirmPost(invoiceId) {
                console.log(invoiceId);
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Replace with the actual URL that you want to redirect to
                        var url = `/SalesInvoice/Post?invoiceId=${invoiceId}`;
                        window.location.href = url;
                    }
                })
            }
        </script>
        <script>
            function confirmVoid(invoiceId) {
                console.log(invoiceId);
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Replace with the actual URL that you want to redirect to
                        var url = `/SalesInvoice/Void?invoiceId=${invoiceId}`;
                        window.location.href = url;
                    }
                })
            }
        </script>
        <script>
            function confirmCancel(invoiceId) {
                console.log(invoiceId);
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Replace with the actual URL that you want to redirect to
                        var url = `/SalesInvoice/Cancel?invoiceId=${invoiceId}`;
                        window.location.href = url;
                    }
                })
            }
        </script>
    }
