@model IEnumerable<Accounting_System.Models.SalesInvoice>
 
<h1>Sales Invoices</h1>

<p>
    <a asp-action="Create" class="btn btn-primary rounded-3">Create New</a>
</p>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr class="text-nowrap">
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.SerialNo)
                </th>
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.CustomerId)
                </th>
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.SoldTo)
                </th>
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.TransactionDate)
                </th>
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.Terms)
                </th>
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th class="text-primary"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in Model)
            {
                <tr class="align-text-bottom">
                    <td>
                        @Html.DisplayFor(model => invoice.FormattedSerialNo)
                    </td>
                    <td>
                        @Html.DisplayFor(model => invoice.CustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(model => invoice.SoldTo)
                    </td>
                    <td>
                        @Html.DisplayFor(model => invoice.TransactionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => invoice.Terms)
                    </td>
                    <td>
                        @Html.DisplayFor(model => invoice.Amount)
                    </td>
                    <td class="text-center">
                        @if (invoice.IsPosted != true)
                        {
                            <a asp-action="Edit" asp-route-id="@invoice.Id" class="btn btn-light">Edit</a>
                        }
                        @if (invoice.IsPosted == true && invoice.IsVoid != true){
                        <a asp-action="PrintInvoice" asp-route-id="@invoice.Id" class="btn btn-light">Print Invoice</a> 
                        <a asp-action="Index" asp-route-id="@invoice.Id" class="btn btn-light">Void</a>
                        }
                        else if (invoice.IsVoid == true)
                        {
                            <span class="badge rounded-pill bg-danger w-50">VOIDED</span>
                        }
                        @if (invoice.IsPosted != true)
                        {
                            <a asp-action="Index" asp-route-id="@invoice.Id" class="btn btn-light">Post</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
