@model IEnumerable<Accounting_System.Models.SalesInvoice>

<h1>Sales Invoices</h1>

<p>
    <a asp-action="Create" class="btn btn-primary rounded-3">Create New</a>
</p>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr class="text-nowrap">
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.SerialNo)
                </th>
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.CustomerId)
                </th>
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.SoldTo)
                </th>
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.TransactionDate)
                </th>
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.Terms)
                </th>
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th class="text-primary"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in Model)
            {
                <tr class="align-text-bottom">
                    <td>
                        @Html.DisplayFor(model => invoice.FormattedSerialNo)
                    </td>
                    <td>
                        @Html.DisplayFor(model => invoice.CustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(model => invoice.SoldTo)
                    </td>
                    <td>
                        @Html.DisplayFor(model => invoice.TransactionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => invoice.Terms)
                    </td>
                    <td>
                        @Html.DisplayFor(model => invoice.Amount)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@invoice.Id" class="btn btn-light">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@invoice.Id" class="btn btn-light">Generate</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
