@model IEnumerable<Accounting_System.Models.SalesInvoice>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<h1>Sales Invoices</h1>
<partial name="_Notification">

<div class="table-responsive">
        <table class="table table-hover" id="myOwnTable">
        <thead>
            <tr class="text-nowrap">
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.SerialNo)
                </th>
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.CustomerId)
                </th>
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.SoldTo)
                </th>
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.TransactionDate)
                </th>
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.Terms)
                </th>
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th class="text-primary"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in Model)
            {
                <tr class="align-text-bottom">
                    <td>
                        @Html.DisplayFor(model => invoice.FormattedSerialNo)
                    </td>
                    <td>
                        @Html.DisplayFor(model => invoice.CustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(model => invoice.SoldTo)
                    </td>
                    <td>
                        @Html.DisplayFor(model => invoice.TransactionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => invoice.Terms)
                    </td>
                    <td>
                        @Html.DisplayFor(model => invoice.Amount)
                    </td>
                    <td class="text-center">
                        @if (invoice.CreatedBy == UserManager.GetUserName(User))
                        {
                            @if (invoice.IsPosted != true)
                            {
                                <a asp-action="Edit" asp-route-id="@invoice.Id" class="btn btn-light">Edit</a>
                            }
                            @if (invoice.IsPosted == true && invoice.IsVoid != true)
                            {
                                <a asp-action="PrintInvoice" asp-route-id="@invoice.Id" class="btn btn-light">Print Invoice</a>
                                    <a class="btn btn-light" onclick="confirmVoid(@invoice.Id)">Void</a>
                            }
                            else if (invoice.IsVoid == true)
                            {
                                <span class="badge rounded-pill bg-danger w-50">VOIDED</span>
                            }
                            @if (invoice.IsPosted != true)
                            {
                                <a class="btn btn-light" onclick="confirmPost(@invoice.Id)">Post</a>
                            }
                        }else{
                            if(invoice.IsVoid == true){
                                <span class="badge rounded-pill bg-danger ">VOIDED</span>
                            }else{
                                    <span class="badge rounded-pill bg-warning ">VALID</span>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{
        <script>
            function confirmPost(invoiceId) {
                console.log(invoiceId);
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Post'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Replace with the actual URL that you want to redirect to
                        var url = `/SalesInvoice/Post?invoiceId=${invoiceId}`;
                        window.location.href = url;
                    }
                })
            }
        </script>
        <script>
            function confirmVoid(invoiceId) {
                console.log(invoiceId);
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Void'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Replace with the actual URL that you want to redirect to
                        var url = `/SalesInvoice/Post?invoiceId=${invoiceId}`;
                        window.location.href = url;
                    }
                })
            }
        </script>
}
