@model Accounting_System.Models.SalesInvoice

@{
    ViewData["Title"] = "Sales Invoice";
}
@{
    //2307 withholding Tax
    var lessEwtTax = Model.VatableSales * (decimal)0.01;
    var formattedLessEwtTax = String.Format("{0:n}", lessEwtTax);

    //2306 withholding Vat
    var lessEwtVat = Model.VatableSales * (decimal)0.05;
    var formattedLessEwtVat = String.Format("{0:n}", lessEwtVat);
}
<br />
<div class="text-end">
    <img src="~/img/Filpride.jpg" height="" width="130px"/>
</div>
<div class="text-center">
    <h2><u><b>&nbsp;FILPRIDE RESOURCES INC.&nbsp;</b></u></h2>
    <p style="line-height: 1; margin-top:-7px;">
        57 Westgate Offices, Sampson RO CBD, Subic Bay, Freeport Zone,<br />
        Kalaklan Olongapo City, 2000 Zambales Philippines<br />
        VAT Reg. TIN: 000-216-589-00000
    </p>

    <h3><span style="display: inline-block;"><b>SALES INVOICE</b></span></h3>
    <div class="text-end" style="margin-top:-60px;">
        <h6><b>Invoice No.&nbsp;@Html.DisplayFor(model => model.FormattedSerialNo)</b></h6>
    </div>

</div>

<div class="table-responsive">
    <table class="w-100" style="margin-top:20px;">
        <tbody>
            <tr>
                <td>
                    <span><b>Sold to:</b></span>
                    &nbsp; @Html.DisplayFor(model => model.SoldTo) &nbsp;<br />

                    <span><b>Address:</b></span>
                    &nbsp; @Html.DisplayFor(model => model.Address) &nbsp;<br />

                    <span><b>TIN:</b></span>
                    &nbsp; @Html.DisplayFor(model => model.TinNo) &nbsp;<br />

                    <span><b>Business Style:</b></span>
                    &nbsp; @Html.DisplayFor(model => model.BusinessStyle) &nbsp;
                </td>

                <td class="w-25 text-nowrap">

                    <b>Invoice Date:</b>
&nbsp; <span id="invoiceDate">@Html.DisplayFor(model => model.TransactionDate)</span>
<br />
<b>Terms:</b>&nbsp;<span id="terms">@Html.DisplayFor(model => model.Terms)</span>&nbsp;<br />
<b>Due Date:</b>&nbsp; <span id="dueDate"></span><br />

                    <b>Other Ref No.:</b>&nbsp; @Html.DisplayFor(model => model.OtherRefNo) &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive" style="margin-top:20px;">
    <table class="table-bordered w-100 text-center">
        <tbody>
            <tr>
                <td><b>PRODUCT DESCRIPTION</b></td>
                <td><b>UNIT</b></td>
                <td><b>QUANTITY</b></td>
                <td><b>UNIT PRICE</b></td>
                <td><b>AMOUNT</b></td>
            </tr>

            <tr style="height:80px;">
                <td>@Html.DisplayFor(model => model.ProductName)</td>
                <td>@Html.DisplayFor(model => model.ProductUnit)</td>
                <td>@Html.DisplayFor(model => model.Quantity)</td>
                <td>@Html.DisplayFor(model => model.UnitPrice)</td>
                <td>@Html.DisplayFor(model => model.Amount)</td>
            </tr>

        </tbody>
    </table>
</div>
    @if (Model.WithHoldingTax)
    {
        lessEwtTax = Model.Amount * (decimal)0.01;
        var lessEwtTaxInAmount = String.Format("{0:n}", lessEwtTax);

        if (Model.CustomerType == "Vatable")
        {
        <p style="line-height: 1; margin-top:20px;">
                Creditable Withholding Tax with the amount of <b>@formattedLessEwtTax</b> is computed for this invoice.<br />
                Please attach BIR Form 2307 to your payment if you deducted Expanded Withholding Tax.
            </p>
        }
        else
        {
        <p style="line-height: 1; margin-top:20px;">
                Creditable Withholding Tax with the amount of <b>@lessEwtTaxInAmount</b> is computed for this invoice.<br />
                Please attach BIR Form 2307 to your payment if you deducted Expanded Withholding Tax.
            </p>
        }

    }
<div style="margin-top:20px;">
    <table class="w-100">
        <tbody>
            <tr>
                <td style="width:33%">
                    <div>
                        <table class="table-bordered w-100">
                            <tbody>

                                <tr style="height:140px;">
                                    <td style="position:relative; top:-35px; left:4%;">INSTRUCTIONS: <br />@Html.DisplayFor(model => model.Remarks)</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </td>
                <td style="width:33%">
                    <div>
                        <table class="table-bordered w-100" style="height:141px;">
                            <tbody>

                                <tr class="align-text-top text-center text-nowrap">
                                    <td>
                                        Prepared by
                                        <br />
                                        <p style="margin-top:20px;"><span style="display: inline-block; width:110px;" class="underline">@Html.DisplayFor(model => model.CreatedBy)</span></p>
                                    </td>
                                    <td>
                                        Approved by
                                        <br />
                                        <p style="margin-top:20px;"><span style="display: inline-block; width:110px;" class="underline">Azh Adolfo</span></p>
                                    </td>

                                </tr>
                                <tr class="align-text-top">
                                    <td colspan="2">
                                        <div style="margin-left:20px;">HAULER/DRIVER
                                        <span style="display: inline-block; width:90%;" class="underline"></span></div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </td>
                <td style="width:33%;">
                    <div>
                        <table class="table-bordered w-100">
                            <tbody class="text-nowrap">
                                <tr>
                                    <td><p style="height: 9px; margin-left:8%;"><b>Vatable Sales: </b></p></td>
                                        <td class="text-end">
                                        @if (Model.CustomerType == "Vatable")
                                        {
                                            <p style="height: 9px;">@Html.DisplayFor(model => model.VatableSales)</p>
                                        }
                                    </td>

                                </tr>
                                <tr>
                                    <td><p style="height: 9px; margin-left:8%;"><b>Zero-Rated Sales: </b></p></td>
                                    
                                    <td class="text-end">
                                        @if (Model.CustomerType == "Zero Rated")
                                        {
                                            <p style="height: 9px;">@Html.DisplayFor(model => model.Amount)</p>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td><p style="height: 9px; margin-left:8%;"><b>VAT-exempt Sales: </b></p></td>
                                    
                                    <td class="text-end">
                                        @if (Model.CustomerType == "Exempt")
                                        {
                                            <p style="height: 9px;">@Html.DisplayFor(model => model.Amount)</p>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td><p style="height: 9px; margin-left:8%;"><b>VAT Amount: </b></p></td>
                                    
                                    <td class="text-end">
                                        @if (Model.CustomerType == "Vatable")
                                        {
                                            <p style="height: 9px;">@Html.DisplayFor(model => model.VatAmount)</p>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td><p style="height: 9px; margin-left:8%;"><b>TOTAL SALES: </b></p></td>
                                    <td class="text-end"><p style="height: 9px;">@Html.DisplayFor(model => model.Amount)</p></td>
                                </tr>
                                @* <tr>
                                    <td><p style="height: 9px; margin-left:8%;"><b>Less EWT: </b></p></td>
                                    @if(Model.WithHoldingTax){

                                        lessEwtTax = amount * (decimal)0.01;
                                        var lessEwtTaxInAmount = String.Format("{0:n}", lessEwtTax);

                                        if(Model.CustomerType == "Vatable")
                                        {
                                            <td class="text-end"><p style="height: 9px;">@formattedLessEwtTax</p></td>
                                        }
                                        else
                                        {
                                            <td class="text-end"><p style="height: 9px;">@lessEwtTaxInAmount</p></td>
                                        }
                                    }
                                    else
                                    {
                                        <td class="text-end"><p style="height: 9px;">0.00</p></td>
                                    }
                                </tr> *@
                               @*  <tr>
                                    <td><p style="height: 9px; margin-left:8%;"><b>NET AMOUNT DUE: </b></p></td>
                                    @if(Model.WithHoldingTax){

                                        lessEwtTax = amount * (decimal)0.01;
                                        var netAmount = amount - lessEwtTax;
                                        var formattedNetAmount = String.Format("{0:n}", netAmount);

                                        if (Model.CustomerType == "Vatable")
                                        {
                                            <td class="text-end"><p style="height: 9px;">@formattedNetAmountDue</p></td>
                                        }
                                        else
                                        {
                                            <td class="text-end"><p style="height: 9px;">@formattedNetAmount</p></td>
                                        }

                                        
                                    }
                                    else
                                    {
                                        <td class="text-end"><p style="height: 9px;">@formattedAmount</p></td>
                                    }
                                </tr> *@

                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="margin-top:20px;">
    <table class="table-bordered">
        <tbody>
            <tr style="line-height: 1;">
                <td class="align-text-top"><p>RECEIVED the above items in good order and condition. The Undersigned agrees to pay the total amount of this invoice in accordance to the terms appearing to the terms above.</p></td>
                <td class="align-text-top"><p>CONDITION OF SALE - Interest at the rate of 38% per annum will be charge on all overdue accounts and in the event of judicial proceedings to enforce collection, the purchaser will pay a reasonable compensation not less than 25% of the amount due of the attorney's fees and expense of collection in addition to the costs of suit. Any action arising out of the transaction covered by sales invoice shall be brought in the appropriate courts of Pasig City and/or Metro Manila. Goods remain in the property of FILPRIDE RESOURCES INC. until paid in full.</p></td>
            </tr>

        </tbody>
    </table>
</div>
<div style="margin-top:20px;">
    <p>
        <i>This is a system generated invoice, no signature required.</i>
    </p>
</div>
@if (Model.CustomerType == "Exempt")
{
   <div style="margin-top:20px;">
    <p>
        <strong style="border:2px solid; padding:10px;">TAX EXEMPT</strong>
        <br><br>
        <em>"This document is not valid for claiming input taxes"<br /></em> 
    </p>
    </div>
}
else if (Model.CustomerType == "Zero Rated")
{
    <div style="margin-top:20px;">
    <p>
        <strong style="border:2px solid; padding:10px;">ZERO RATED</strong>
        <br><br>
        <em>"This document is not valid for claiming input taxes"<br /></em> 
    </div>
}
<br />
<div class="text-center w-100" style="margin-top:20px;">
    <p @* style="line-height: 1;" *@>
        <span>Acknowledgement Certificate No:</span>
        <span class="underline" style="display: inline-block; width: 30%;"></span>
        <span>Date Issued:</span>
        <span class="underline" style="display: inline-block; width: 15%;"></span><br />
        Series from: SI0000000001 - SI9999999999
        Date and Time Created:&nbsp;@Html.DisplayFor(model => model.CreatedDate)
    </p>
</div>
<br />

    @if (Model.OriginalCopy == true)
    {
    <div class="text-end">
    ORIGINAL COPY
    </div>
    }else{
    <div class="text-end">
    REPRINT COPY
    </div>
    }

    <a asp-action="PrintedInvoice"  class="btn btn-success" asp-route-id="@Model.Id" onclick="printPage()" id="printButton">Print</a>
<a asp-action="Index" class="btn" id="otherButton">Back</a>

@section Scripts{
    <script>
        var originalFontSizes = [];

        function printPage() {
            var printButton = document.getElementById("printButton");
            var otherButton = document.getElementById("otherButton");

            // Hide the header and footer
            document.querySelector("header").style.display = "none";
            document.querySelector("footer").style.display = "none";

            // Hide the buttons before printing
            if (printButton) {
                printButton.style.visibility = "hidden";
            }
            if (otherButton) {
                otherButton.style.visibility = "hidden";
            }

            // Get all paragraph elements
            var paragraphs = document.querySelectorAll("p");

            // Store the original font sizes
            for (var i = 0; i < paragraphs.length; i++) {
                originalFontSizes[i] = paragraphs[i].style.fontSize;
                // Set the font size of all paragraph elements to 12px for printing
                paragraphs[i].style.fontSize = "12px";
            }

            // Call the print function
            window.print();

            // Restore the font sizes
            for (var i = 0; i < paragraphs.length; i++) {
                paragraphs[i].style.fontSize = originalFontSizes[i];
            }

            // Restore the buttons' visibility after printing (optional)
            if (printButton) {
                printButton.style.visibility = "visible";
            }
            if (otherButton) {
                otherButton.style.visibility = "visible";
            }

            // Restore the header and footer's visibility after printing (optional)
            document.querySelector("header").style.display = "";
            document.querySelector("footer").style.display = "";
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var invoiceDate = new Date(document.getElementById('invoiceDate').innerText);
            var options = { year: 'numeric', month: '2-digit', day: '2-digit' };
            var formattedInvoiceDate = invoiceDate.toLocaleDateString('en-US', options);
            document.getElementById('invoiceDate').innerText = formattedInvoiceDate;
        });
    </script>
    <script>
        // Get the transaction date value from the HTML element
        var transactionDate = document.getElementById('invoiceDate').innerText;

        // Convert the transaction date string to a Date object
        var dateObject = new Date(transactionDate);

        // Get the terms value from the HTML element
        var terms = document.getElementById('terms').innerText;

        // Convert the terms to an integer
        var termsInt = parseInt(terms);

        // Add the terms to the transaction date
        if (terms == "COD") {
            dateObject.setDate(dateObject.getDate());
        } else if (terms == "M30") {

            var nextMonth = dateObject.getMonth() + 1;
            var nextMonthDays = new Date(dateObject.getFullYear(), nextMonth, 0).getDate();

            if (nextMonthDays === 30) {
                dateObject.setMonth(nextMonth);
                dateObject.setDate(30);
            } else {
                dateObject.setMonth(nextMonth + 1);
                dateObject.setDate(0);
            }
        } else if (terms == "M15") {

            var nextMonth = dateObject.getMonth() + 1;
            var nextMonthDays = new Date(dateObject.getFullYear(), nextMonth, 0).getDate();

            if (nextMonthDays === 30) {
                dateObject.setMonth(nextMonth);
                dateObject.setDate(15);
            } else {
                dateObject.setMonth(nextMonth + 1);
                dateObject.setDate(0);
            }
        } else {
            dateObject.setDate(dateObject.getDate() + termsInt);
        }

        // Format the date as required
        var formattedDate = dateObject.toLocaleDateString();

        // Update the HTML to display the computed date as the due date
        document.getElementById('dueDate').innerText = formattedDate;
    </script>


}
