@model CreditMemo
@using Accounting_System.Models.AccountsReceivable
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Humanizer

<div class="modal fade" id="Preview-@Model.Id" data-bs-backdrop="static" aria-labelledby="PreviewCMLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="PreviewCMLabel">Preview</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <br />
<div class="text-end">
    <img src="~/img/Filpride.jpg" height="" width="130px" />
</div>
<div class="text-center">
    <h2><u><b>&nbsp;FILPRIDE RESOURCES INC.&nbsp;</b></u></h2>
    <p style="line-height: 1; margin-top:-7px;">
        57 Westgate Office, Sampson Road, CBD, Subic Bay Freeport Zone,<br />
        Kalaklan, Olongapo City, 2200 Zambales, Philippines<br />
        VAT Reg. TIN: 000-216-589-00000
    </p>

    <h3><span style="display: inline-block;"><b>CREDIT MEMO</b></span></h3>
    <div class="text-end" style="margin-top:-60px;">
        <h6><b>No.&nbsp;@Html.DisplayFor(model => model.CMNo)</b></h6>
    </div>

</div>
<br />
@if (Model.Source == "Sales Invoice")
{
    <div class="table-responsive">
        <table class="w-100" style="margin-top:20px;">
            <tbody>
                <tr>
                    <td>
                        <span><b>Sold to:</b></span>
                        &nbsp;@Html.DisplayFor(model => model.SalesInvoice.Customer.Name) &nbsp;<br />

                        <span><b>Address:</b></span>
                        &nbsp;@Html.DisplayFor(model => model.SalesInvoice.Customer.Address) &nbsp;<br />

                        <span><b>TIN:</b></span>
                        &nbsp;@Html.DisplayFor(model => model.SalesInvoice.Customer.TinNo) &nbsp;<br />

                        <span><b>Business Style:</b></span>
                        &nbsp;@Html.DisplayFor(model => model.SalesInvoice.Customer.BusinessStyle) &nbsp;
                    </td>

                    <td class="w-25 text-nowrap">

                        <b>Date :</b> @Model.TransactionDate.ToString("MM/dd/yyyy")
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

<div class="table-responsive" style="margin-top:20px;">
    <table class="table-bordered w-100 text-center">
        <thead>
            <tr>
                <th>INVOICE NO.</th>
                <th>INVOICE DATE</th>
                <th>PRODUCT</th>
                <th>DESCRIPTION</th>
                <th>AMOUNT</th>
            </tr>
        </thead>
        <tbody>
            <tr style="height:80px;">
                <td>@Html.DisplayFor(model => model.SalesInvoice.SINo)</td>
                <td>@Model.SalesInvoice.TransactionDate.ToString("MM/dd/yyyy")</td>
                <td>@Html.DisplayFor(model => model.SalesInvoice.Product.Name)</td>
                <td>@Html.DisplayFor(model => model.Description)</td>
                <td>@Html.DisplayFor(model => model.CreditAmount)</td>
            </tr>

        </tbody>
    </table>
</div>

<div style="margin-top:20px;">
    <table class="w-100">
        <tbody>
            <tr>
                <td>
                </td>
                <td style="width:40%;">
                    <div>
                        <table class="w-100">
                            <tbody class="text-nowrap">
                                <tr>
                                    <td class="w-50"><p style="height: 9px; margin-left:8%;"><b>Vatable Sales: </b></p></td>
                                        @if (Model.VatableSales != 0)
                                        {
                                            <td class="text-end">@Html.DisplayFor(model => model.VatableSales)</td>
                                        }
                                        else
                                        {
                                            <td class="text-end"></td>
                                        }

                                </tr>
                                <tr>
                                    <td><p style="height: 9px; margin-left:8%;"><b>Zero-Rated Sales: </b></p></td>
                                        @if (Model.SalesInvoice.Customer.CustomerType == "Zero Rated")
                                        {
                                            <td class="text-end">@Html.DisplayFor(model => model.CreditAmount)</td>
                                        }
                                        else
                                        {
                                            <td class="text-end"></td>
                                        }

                                </tr>
                                <tr>
                                    <td><p style="height: 9px; margin-left:8%;"><b>VAT-Exempt Sales: </b></p></td>

                                        @if (Model.SalesInvoice.Customer.CustomerType == "Exempt")
                                        {
                                            <td class="text-end">@Html.DisplayFor(model => model.CreditAmount)</td>
                                        }
                                        else
                                        {
                                            <td class="text-end"></td>
                                        }
                                </tr>
                                <tr>
                                    <td><p style="height: 9px; margin-left:8%;"><b>VAT Amount: </b></p></td>

                                        @if (Model.VatAmount != 0)
                                        {
                                            <td class="text-end">@Html.DisplayFor(model => model.VatAmount)</td>
                                        }
                                        else
                                        {
                                            <td class="text-end"></td>
                                        }
                                </tr>
                                <tr>
                                    <td><p style="height: 9px; margin-left:8%;"><b>TOTAL SALES: </b></p></td>
                                    <td class="text-end">@Html.DisplayFor(model => model.TotalSales)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
}
else if (Model.Source == "Service Invoice")
{
    <div class="table-responsive">
        <table class="w-100" style="margin-top:20px;">
            <tbody>
                <tr>
                    <td>
                        <span><b>Sold to:</b></span>
                        &nbsp;@Html.DisplayFor(model => model.ServiceInvoice.Customer.Name) &nbsp;<br />

                        <span><b>Address:</b></span>
                        &nbsp;@Html.DisplayFor(model => model.ServiceInvoice.Customer.Address) &nbsp;<br />

                        <span><b>TIN:</b></span>
                        &nbsp;@Html.DisplayFor(model => model.ServiceInvoice.Customer.TinNo) &nbsp;<br />

                        <span><b>Business Style:</b></span>
                        &nbsp;@Html.DisplayFor(model => model.ServiceInvoice.Customer.BusinessStyle) &nbsp;
                    </td>

                    <td class="w-25 text-nowrap">

                        <b>Date :</b> @Model.TransactionDate.ToString("MM/dd/yyyy")
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

<div class="table-responsive" style="margin-top:20px;">
    <table class="table-bordered w-100 text-center">
        <thead>
            <tr>
                <th>SOA NO.</th>
                <th>SOA DATE</th>
                <th>SERVICE</th>
                <th>DESCRIPTION</th>
                <th>AMOUNT</th>
            </tr>
        </thead>
        <tbody>
            <tr style="height:80px;">
                <td>@Html.DisplayFor(model => model.ServiceInvoice.SVNo)</td>
                <td class="pt-2">
                    <p style="line-height:15px">
                        @Model.Period.ToString("MMMM yyyy")
                    </p>
                </td>
                <td>@Html.DisplayFor(model => model.ServiceInvoice.Service.Name)</td>
                <td>@Html.DisplayFor(model => model.Description)</td>
                <td class="pt-2">
                    <p style="line-height:15px">
                        @Html.DisplayFor(model => model.Amount)
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div style="margin-top:20px;">
    <table class="w-100">
        <tbody>
            <tr>
                <td>
                </td>
                <td style="width:40%;">
                    <div>
                        <table class="w-100">
                            <tbody class="text-nowrap">
                                <tr>
                                    <td class="w-50"><p style="height: 9px; margin-left:8%;"><b>Vatable Sales: </b></p></td>
                                        @if (Model.VatableSales != 0)
                                        {
                                            <td class="text-end">@Html.DisplayFor(model => model.VatableSales)</td>
                                        }
                                        else
                                        {
                                            <td class="text-end"></td>
                                        }

                                </tr>
                                <tr>
                                    <td><p style="height: 9px; margin-left:8%;"><b>Zero-Rated Sales: </b></p></td>
                                        @if (Model.ServiceInvoice.Customer.CustomerType == "Zero Rated")
                                        {
                                            <td class="text-end">@Html.DisplayFor(model => model.CreditAmount)</td>
                                        }
                                        else
                                        {
                                            <td class="text-end"></td>
                                        }

                                </tr>
                                <tr>
                                    <td><p style="height: 9px; margin-left:8%;"><b>VAT-Exempt Sales: </b></p></td>

                                        @if (Model.ServiceInvoice.Customer.CustomerType == "Exempt")
                                        {
                                            <td class="text-end">@Html.DisplayFor(model => model.CreditAmount)</td>
                                        }
                                        else
                                        {
                                            <td class="text-end"></td>
                                        }
                                </tr>
                                <tr>
                                    <td><p style="height: 9px; margin-left:8%;"><b>VAT Amount: </b></p></td>

                                        @if (Model.VatAmount != 0)
                                        {
                                            <td class="text-end">@Html.DisplayFor(model => model.VatAmount)</td>
                                        }
                                        else
                                        {
                                            <td class="text-end"></td>
                                        }
                                </tr>
                                <tr>
                                    <td><p style="height: 9px; margin-left:8%;"><b>TOTAL SALES: </b></p></td>
                                    <td class="text-end">@Html.DisplayFor(model => model.TotalSales)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
}

<div style="margin-top:20px;">
    <p>
        <i>This is a system generated invoice, no signature required.</i>
    </p>
</div>


<br />
<div class="text-center w-100" style="margin-top:20px;">
    <p>
        <em><strong>"THIS DOCUMENT IS NOT VALID FOR CLAIM OF INPUT TAX"</strong></em><br />
        <span>Acknowledgement Certificate No:</span>
        <span style="display: inline-block;">AC_124_112023_000090</span>
        <span>&nbsp;&nbsp;Date Issued:</span>
        <span style="display: inline-block;">November 28, 2023</span><br />
        Series: CM0000000001 - CM9999999999
    </p>
</div>

                <br />
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
