@model IEnumerable<Accounting_System.Models.CreditMemo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<partial name="_Notification">
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CMNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Invoice/SOA No
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CMNo)
            </td>
            <td>
                @item.Date.ToShortDateString()
            </td>

                @if (item.Source == "Sales Invoice")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.SalesInvoice.SINo)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.StatementOfAccount.SOANo)
                    </td>
                }
                    
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditAmount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Print" asp-route-id="@item.Id">Print</a> 
            </td>
        </tr>
}
    </tbody>
</table>
