@using Microsoft.AspNetCore.Identity
@model Accounting_System.Models.CreditMemo
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Credit Memo";
}

<br />
<div class="text-end">
    <img src="~/img/Filpride.jpg" height="" width="130px" />
</div>
<div class="text-center">
    <h2><u><b>&nbsp;FILPRIDE RESOURCES INC.&nbsp;</b></u></h2>
    <p style="line-height: 1; margin-top:-7px;">
        57 Westgate Office, Sampson Road, CBD, Subic Bay Freeport Zone,<br />
        Kalaklan, Olongapo City, 2200 Zambales, Philippines<br />
        VAT Reg. TIN: 000-216-589-00000
    </p>

    <h3><span style="display: inline-block;"><b>CREDIT MEMO</b></span></h3>
    <div class="text-end" style="margin-top:-60px;">
        <h6><b>No.&nbsp;@Html.DisplayFor(model => model.CMNo)</b></h6>
    </div>

</div>
<br />
@if (Model.Source == "Sales Invoice")
{
    <div class="table-responsive">
        <table class="w-100" style="margin-top:20px;">
            <tbody>
                <tr>
                    <td>
                        <span><b>Sold to:</b></span>
                        &nbsp;@Html.DisplayFor(model => model.SalesInvoice.SoldTo) &nbsp;<br />

                        <span><b>Address:</b></span>
                        &nbsp;@Html.DisplayFor(model => model.SalesInvoice.Address) &nbsp;<br />

                        <span><b>TIN:</b></span>
                        &nbsp;@Html.DisplayFor(model => model.SalesInvoice.TinNo) &nbsp;<br />

                        <span><b>Business Style:</b></span>
                        &nbsp;@Html.DisplayFor(model => model.SalesInvoice.BusinessStyle) &nbsp;
                    </td>

                    <td class="w-25 text-nowrap">

                        <b>Date :</b> @Model.Date.ToShortDateString()
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

<div class="table-responsive" style="margin-top:20px;">
    <table class="table-bordered w-100 text-center">
        <thead>
            <tr>
                <th>INVOICE NO.</th>
                <th>INVOICE DATE</th>
                <th>PRODUCT</th>
                <th>DESCRIPTION</th>
                <th>AMOUNT</th>
            </tr>
        </thead>
        <tbody>
            <tr style="height:80px;">
                <td>@Html.DisplayFor(model => model.SINo)</td>
                <td>@Model.SalesInvoice.TransactionDate.ToShortDateString()</td>
                <td>@Html.DisplayFor(model => model.SalesInvoice.ProductName)</td>
                <td>@Html.DisplayFor(model => model.Description)</td>
                <td>@Html.DisplayFor(model => model.CreditAmount)</td>
            </tr>

        </tbody>
    </table>
</div>

<div style="margin-top:20px;">
    <table class="w-100">
        <tbody>
            <tr>
                <td>
                </td>
                <td style="width:40%;">
                    <div>
                        <table class="w-100">
                            <tbody class="text-nowrap">
                                <tr>
                                    <td class="w-50"><p style="height: 9px; margin-left:8%;"><b>Vatable Sales: </b></p></td>
                                        @if (Model.VatableSales != 0)
                                        {
                                            <td class="text-end">@Html.DisplayFor(model => model.VatableSales)</td>
                                        }
                                        else
                                        {
                                            <td class="text-end"></td>
                                        }

                                </tr>
                                <tr>
                                    <td><p style="height: 9px; margin-left:8%;"><b>Zero-Rated Sales: </b></p></td>
                                        @if (Model.SalesInvoice.CustomerType == "Zero Rated")
                                        {
                                            <td class="text-end">@Html.DisplayFor(model => model.CreditAmount)</td>
                                        }
                                        else
                                        {
                                            <td class="text-end"></td>
                                        }
                                        
                                </tr>
                                <tr>
                                    <td><p style="height: 9px; margin-left:8%;"><b>VAT-Exempt Sales: </b></p></td>

                                        @if (Model.SalesInvoice.CustomerType == "Exempt")
                                        {
                                            <td class="text-end">@Html.DisplayFor(model => model.CreditAmount)</td>
                                        }
                                        else
                                        {
                                            <td class="text-end"></td>
                                        }
                                </tr>
                                <tr>
                                    <td><p style="height: 9px; margin-left:8%;"><b>VAT Amount: </b></p></td>

                                        @if (Model.VatAmount != 0)
                                        {
                                            <td class="text-end">@Html.DisplayFor(model => model.VatAmount)</td>
                                        }
                                        else
                                        {
                                            <td class="text-end"></td>
                                        }
                                </tr>
                                <tr>
                                    <td><p style="height: 9px; margin-left:8%;"><b>TOTAL SALES: </b></p></td>
                                    <td class="text-end">@Html.DisplayFor(model => model.TotalSales)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
} 
else if (Model.Source == "Statement Of Account")
{
    <div class="table-responsive">
        <table class="w-100" style="margin-top:20px;">
            <tbody>
                <tr>
                    <td>
                        <span><b>Sold to:</b></span>
                        &nbsp;@Html.DisplayFor(model => model.StatementOfAccount.Customer.Name) &nbsp;<br />

                        <span><b>Address:</b></span>
                        &nbsp;@Html.DisplayFor(model => model.StatementOfAccount.Customer.Address) &nbsp;<br />

                        <span><b>TIN:</b></span>
                        &nbsp;@Html.DisplayFor(model => model.StatementOfAccount.Customer.TinNo) &nbsp;<br />

                        <span><b>Business Style:</b></span>
                        &nbsp;@Html.DisplayFor(model => model.StatementOfAccount.Customer.BusinessStyle) &nbsp;
                    </td>

                    <td class="w-25 text-nowrap">

                        <b>Date :</b> @Model.Date.ToShortDateString()
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

<div class="table-responsive" style="margin-top:20px;">
    <table class="table-bordered w-100 text-center">
        <thead>
            <tr>
                <th>SOA NO.</th>
                <th>SOA DATE</th>
                <th>SERVICE</th>
                <th>DESCRIPTION</th>
                <th>AMOUNT</th>
            </tr>
        </thead>
        <tbody>
            <tr style="height:80px;">
                <td>@Html.DisplayFor(model => model.SOANo)</td>
                <td>@Model.StatementOfAccount.CreatedDate.ToShortDateString()</td>
                <td>@Html.DisplayFor(model => model.StatementOfAccount.Service.Name)</td>
                <td>@Html.DisplayFor(model => model.Description)</td>
                <td>@Html.DisplayFor(model => model.CreditAmount)</td>
            </tr>

        </tbody>
    </table>
</div>

<div style="margin-top:20px;">
    <table class="w-100">
        <tbody>
            <tr>
                <td>
                </td>
                <td style="width:40%;">
                    <div>
                        <table class="w-100">
                            <tbody class="text-nowrap">
                                <tr>
                                    <td class="w-50"><p style="height: 9px; margin-left:8%;"><b>Vatable Sales: </b></p></td>
                                        @if (Model.VatableSales != 0)
                                        {
                                            <td class="text-end">@Html.DisplayFor(model => model.VatableSales)</td>
                                        }
                                        else
                                        {
                                            <td class="text-end"></td>
                                        }

                                </tr>
                                <tr>
                                    <td><p style="height: 9px; margin-left:8%;"><b>Zero-Rated Sales: </b></p></td>
                                        @if (Model.StatementOfAccount.Customer.CustomerType == "Zero Rated")
                                        {
                                            <td class="text-end">@Html.DisplayFor(model => model.CreditAmount)</td>
                                        }
                                        else
                                        {
                                            <td class="text-end"></td>
                                        }
                                        
                                </tr>
                                <tr>
                                    <td><p style="height: 9px; margin-left:8%;"><b>VAT-Exempt Sales: </b></p></td>

                                        @if (Model.StatementOfAccount.Customer.CustomerType == "Exempt")
                                        {
                                            <td class="text-end">@Html.DisplayFor(model => model.CreditAmount)</td>
                                        }
                                        else
                                        {
                                            <td class="text-end"></td>
                                        }
                                </tr>
                                <tr>
                                    <td><p style="height: 9px; margin-left:8%;"><b>VAT Amount: </b></p></td>

                                        @if (Model.VatAmount != 0)
                                        {
                                            <td class="text-end">@Html.DisplayFor(model => model.VatAmount)</td>
                                        }
                                        else
                                        {
                                            <td class="text-end"></td>
                                        }
                                </tr>
                                <tr>
                                    <td><p style="height: 9px; margin-left:8%;"><b>TOTAL SALES: </b></p></td>
                                    <td class="text-end">@Html.DisplayFor(model => model.TotalSales)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
}

<div style="margin-top:20px;">
    <p>
        <i>This is a system generated invoice, no signature required.</i>
    </p>
</div>


<br />
<div class="text-center w-100" style="margin-top:20px;">
    <p>
        <em><strong>"THIS DOCUMENT IS NOT VALID FOR CLAIM OF INPUT TAX"</strong></em><br />
        <span>Acknowledgement Certificate No:</span>
        <span style="display: inline-block;">AC_124_112023_000090</span>
        <span>&nbsp;&nbsp;Date Issued:</span>
        <span style="display: inline-block;">November 28, 2023</span><br />
        Series: CM0000000001 - CM9999999999
        Date and Time Created:&nbsp;@Html.DisplayFor(model => model.CreatedDate)
    </p>
</div>
<br />

<div class="text-start w-100 footer" style="margin-top:50px;">
    <p style="line-height: 1;">
        <em>
            <strong>Software Name :</strong> Accounting Administration System (AAS)
            <br />
            <strong>Version :</strong> v1.0
            <br />
            <strong>Printed By :</strong> @UserManager.GetUserName(User).ToUpper()
            <br />
            <strong>Date & Time Printed :</strong> @DateTime.Now.ToString("MM/dd/yyyy hh:mm tt")
        </em>
    </p>
</div>

@if (!Model.IsPrinted)
{
    <div class="text-end">
        ORIGINAL COPY
    </div>
}
else
{
    <div class="text-end">
        REPRINT COPY
    </div>
}

<a asp-action="Printed" class="btn btn-success" asp-route-id="@Model.Id" onclick="printPage()" id="printButton">Print</a>
<a asp-action="Index" class="btn" id="otherButton">Back</a>

@section Scripts{
    <script>
        var originalFontSizes = [];
        function printPage() {
            var printButton = document.getElementById("printButton");
            var otherButton = document.getElementById("otherButton");

            // Hide the header and footer
            document.querySelector("header").style.display = "none";
            document.querySelector("footer").style.display = "none";

            // Hide the buttons before printing
            if (printButton) {
                printButton.style.visibility = "hidden";
            }
            if (otherButton) {
                otherButton.style.visibility = "hidden";
            }

            // Get all paragraph elements
            var paragraphs = document.querySelectorAll("p");

            // Store the original font sizes
            for (var i = 0; i < paragraphs.length; i++) {
                originalFontSizes[i] = paragraphs[i].style.fontSize;
                // Set the font size of all paragraph elements to 12px for printing
                paragraphs[i].style.fontSize = "12px";
            }

            // Get all table text elements
            var mytable = document.querySelectorAll("table");

            // Store the original font sizes
            for (var i = 0; i < mytable.length; i++) {
                originalFontSizes[i] = mytable[i].style.fontSize;
                // Set the font size of all paragraph elements to 12px for printing
                mytable[i].style.fontSize = "12px";
            }

            // Call the print function
            window.print();

            // Restore the font sizes
            for (var i = 0; i < paragraphs.length; i++) {
                paragraphs[i].style.fontSize = originalFontSizes[i];
            }

            // Restore the font sizes
            for (var i = 0; i < mytable.length; i++) {
                mytable[i].style.fontSize = originalFontSizes[i];
            }

            // Restore the buttons' visibility after printing (optional)
            if (printButton) {
                printButton.style.visibility = "visible";
            }
            if (otherButton) {
                otherButton.style.visibility = "visible";
            }

            // Restore the header and footer's visibility after printing (optional)
            document.querySelector("header").style.display = "";
            document.querySelector("footer").style.display = "";
        }
    </script>
}