@model IEnumerable<Accounting_System.Models.Customer>

@{
    ViewData["Title"] = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/indexLayout.css" asp-append-version="true" />

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">CUSTOMER MASTER FILE</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 table-responsive">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Customer" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New
                </a>
            </div>
        </div>
        <table class="table table-bordered table-hover" id="dataTable">
            <thead class="table-secondary">
                <tr class="text-primary">
                    <th>
                        @Html.DisplayNameFor(model => model.Number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerTin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BusinessStyle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerTerms)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerType)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerTin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BusinessStyle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerTerms)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerType)
                        </td>
                        <td class="align-items-center">
                            <a asp-action="Edit" asp-route-id="@item.CustomerId" class="btn btn-light">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>