@model IEnumerable<Accounting_System.Models.ChartOfAccount>

@{
    ViewData["Title"] = "Chart of Account";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">CHART OF ACCOUNT</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 table-responsive">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="ChartOfAccount" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New
                </a>
            </div>
        </div>
        <table class="table table-bordered table-hover" id="dataTable">
            <thead class="table-secondary">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AccountNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AccountName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AccountType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NormalBalance)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Level)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NormalBalance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Level)
                        </td>
                        <td>
                            <a asp-action="Edit" class="btn btn-light" asp-route-id="@item.AccountId">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>