@model IEnumerable<Accounting_System.Models.CollectionReceipt>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var model = new CollectionReceipt();
}
<partial name="_Notification">
<h1>Collection Receipt</h1>

<p>
    <a asp-action="CreateCollectionReceipt" class="btn btn-primary rounded-3">Create New</a>
</p>
<table class="table table-hover" id="myTable">
    <thead>
        <tr class="text-primary">
            <th>
                @Html.DisplayNameFor(model => model.CRNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SINo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CRNo)
                </td>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SINo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesInvoice.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReferenceNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                        @if (item.CreatedBy == UserManager.GetUserName(User))
                        {
                            if (!item.IsPosted && !item.IsVoided)
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-light">Edit</a>
                                <a class="btn btn-light" onclick="confirmPost(@item.Id)">Post</a>
                            }
                            if (item.IsPosted && !item.IsVoided)
                                {
                                <a asp-action="CollectionReceipt" asp-route-id="@item.Id" class="btn btn-light">Print</a>
                            }
                            if (!item.IsVoided)
                            {
                                <a class="btn btn-light" onclick="confirmVoid(@item.Id)">Void</a>
                            }

                        }

                        @if (item.IsVoided)
                        {
                        <span class="badge rounded-pill bg-danger ">VOIDED</span>
                        }
                        else
                        {
                            @if (item.CreatedBy != UserManager.GetUserName(User))
                            {
                        <span class="badge rounded-pill bg-warning ">VALID</span>
                            }
                        }
                </td>
            </tr>
        }
    </tbody>
</table>
    @section Scripts{
        <script>
            function confirmPost(itemId) {
                console.log(itemId);
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Post'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Replace with the actual URL that you want to redirect to
                        var url = `/Receipt/Post?itemId=${itemId}`;
                        window.location.href = url;
                    }
                })
            }
        </script>
        <script>
            function confirmVoid(itemId) {
                console.log(itemId);
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Void'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Replace with the actual URL that you want to redirect to
                        var url = `/Receipt/Void?itemId=${itemId}`;
                        window.location.href = url;
                    }
                })
            }
        </script>
    }
