@model IEnumerable<Accounting_System.Models.CollectionReceipt>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var model = new CollectionReceipt();
}
<partial name="_Notification">
<h1>Collection Receipt</h1>

<p>
    <a asp-action="CreateCollectionReceipt" class="btn btn-primary rounded-3">Create New</a>
</p>
<table class="table table-hover" id="myTable">
    <thead>
        <tr class="text-primary">
            <th>
                @Html.DisplayNameFor(model => model.CRNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SINo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CRNo)
                </td>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SINo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesInvoice.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReferenceNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                   @*  <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-light">Edit</a> | *@
                    <a asp-action="CollectionReceipt" asp-route-id="@item.Id" class="btn btn-light">Print</a> @* |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-light">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
