@model CollectionReceipt
@using Accounting_System.Models.AccountsReceivable
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Humanizer
@using Accounting_System.Utility

@{
    ViewData["Title"] = "Print Collection Receipt";
}

<br />
<div class="text-end">
    <img src="~/img/Filpride.jpg" height="" width="130px" />
</div>
<div class="text-center">
    <h2><u><b>&nbsp;FILPRIDE RESOURCES INC.&nbsp;</b></u></h2>
    <p style="line-height: 1; margin-top:-7px;">
        57 Westgate Office, Sampson Road, CBD, Subic Bay Freeport Zone,<br />
        Kalaklan, Olongapo City, 2200 Zambales, Philippines<br />
        VAT Reg. TIN: 000-216-589-00000
    </p>
</div>

<h3><span style="display: inline-block;"><b>COLLECTION RECEIPT</b></span></h3>
<div class="text-end" style="margin-top:-50px;">
    <h6><b>No.&nbsp;@Html.DisplayFor(model => model.CRNo)</b></h6>
</div>
<br />

<div class="w-100 text-end" style="margin-top:-20px; padding-bottom:10px;">
    <span><b>Date:</b></span>
    <span class="underline" style="display: inline-block; width: 20%; text-align:center;">@Model.TransactionDate.ToString("MM/dd/yyyy")</span><br />
</div>

<div>
    <table class="table-bordered w-100">
        <tbody>
            <tr>
                <td colspan="2" style="padding-left:10px;">
                    Received from: &nbsp;
                    @Html.DisplayFor(model => model.Customer.Name)
                </td>
            </tr>
            <tr>
                <td colspan="2" class="w-50" style="padding-left:10px;">
                    Address: &nbsp;
                    @Html.DisplayFor(model => model.Customer.Address)
                </td>
            </tr>
            <tr>
                <td style="padding-left:10px;">
                    TIN: &nbsp;
                    @Html.DisplayFor(model => model.Customer.TinNo)
                </td>
                <td style="padding-left:10px;">
                    Buss. Style: &nbsp;
                    @Html.DisplayFor(model => model.Customer.BusinessStyle)
                </td>
            </tr>
            @{
                decimal convertToWords = Model.Total;

                int integerPart = Convert.ToInt32(Math.Floor(convertToWords));
                decimal decimalPart = Math.Round((convertToWords - integerPart), 2);

                // Convert integer part to words
                string integerWords = integerPart.ToWords();
                integerWords = System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(integerWords.ToLower());

                // Convert and format cents value
                int cents = Convert.ToInt32(decimalPart * 100) % 100;
                string centsWords = cents.ToWords(); // Use ToWords instead of string formatting
                centsWords = System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(centsWords.ToLower());

                string upperCaseOne = integerWords;
                string upperCaseTwo = centsWords;

                // Combine words and formatting
                string words;

                if (cents > 0)
                {
                    // If there is a decimal part, include "And" before it
                    words = $"{upperCaseOne} Pesos and {upperCaseTwo} Centavos Only";
                }
                else
                {
                    // If there is no decimal part, exclude "And"
                    words = $"{upperCaseOne} Pesos Only";
                }

                // Capitalize first letters
                // words = System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(words.ToLower());

                words = words.Replace(" And", "");
                words = words.Replace("-", " ");
            }
            <tr>
                <td colspan="2" style="padding-left:10px;">The sum of Pesos:<br /> <p style="margin: 0; padding: 0;">@words</p></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td style="padding-left:10px;">(₱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  @Html.DisplayFor(model => model.Total))</td>
            </tr>
            <tr>
                <td colspan="2" style="padding-left:10px;">
                    IN FULL/PARTIAL payment of:
                    @for (int i = 0; i < Model.MultipleSI.Length; i++)
                    {
                        var siNo = $"{Model.MultipleSI[i]}, ";
                        @siNo
                    }
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="padding-left:10px;">Reference Receipt No.&nbsp; @Html.DisplayFor(model => model.ReferenceNo)</td>
            </tr>
        </tbody>
    </table>
</div>
<div style="margin-top:10px;">
    <table class="table-bordered w-100">
        <tbody>
            <tr>
                <td class="text-center" style="width:33%">INVOICE DATE</td>
                <td class="text-center" style="width:33%">INVOICE #</td>
                <td class="text-center" style="width:33%">AMOUNT</td>
            </tr>
            @for (int i = 0; i < Model.MultipleSI.Length; i++)
            {
                var siAmount = $"{Model.SIMultipleAmount[i]}";
                var siNo = $"{Model.MultipleSI[i]}";
                var siDate = $"{Model.MultipleTransactionDate?[i]}";
                <tr class="text-center">
                    <td style="width:33%">@siDate</td>
                    <td style="width:33%">@siNo</td>
                    <td style="width:33%">@siAmount</td>
                </tr>
            }
            <tr>
                <td style="width:33%">&nbsp;</td>
                <td style="width:33%"></td>
                <td style="width:33%"></td>
            </tr>
        </tbody>
    </table>
</div>

<div style="margin-top:10px;">
    <table class="table-bordered w-100">
        <tbody>
            <tr>
                <td colspan="6" style="padding-left:20px;">FORM OF PAYMENT</td>
            </tr>
            <tr>
                <td class="text-center" style="width:25%"></td>
                <td class="text-center" style="width:15%">DATE</td>
                <td class="text-center" style="width:15%">CHK #</td>
                <td class="text-center" style="width:15%">BANK</td>
                <td class="text-center" style="width:15%">BRANCH</td>
                <td class="text-center" style="width:15%">AMOUNT</td>
            </tr>

            <tr>
                <td style="padding-left:20px;">Cash</td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center">
                    @if (Model.CashAmount != null)
                    {
                        <p style="height: 9px;">@Html.DisplayFor(model => model.CashAmount)</p>
                    }
                    else
                    {
                        <p></p>
                    }
                </td>
            </tr>

            <tr>
                <td style="padding-left:20px;">Check</td>
                <td class="text-center">
                    @if (Model.CheckDate != null)
                    {
                        <p style="height: 9px;">@Model.CheckDate</p>
                    }
                    else
                    {
                        <p></p>
                    }
                </td>
                <td class="text-center">
                    @if (Model.CheckNo != null)
                    {
                        <p style="height: 9px;">@Html.DisplayFor(model => model.CheckNo)</p>
                    }
                    else
                    {
                        <p></p>
                    }
                </td>
                <td class="text-center">
                    @if (Model.CheckBank != null)
                    {
                        <p style="height: 9px;">@Html.DisplayFor(model => model.CheckBank)</p>
                    }
                    else
                    {
                        <p></p>
                    }
                </td>
                <td class="text-center">
                    @if (Model.CheckBranch != null)
                    {
                        <p style="height: 9px;">@Html.DisplayFor(model => model.CheckBranch)</p>
                    }
                    else
                    {
                        <p></p>
                    }
                </td>
                <td class="text-center">
                    @if (Model.CheckAmount != 0)
                    {
                        <p style="height: 9px;">@Html.DisplayFor(model => model.CheckAmount)</p>
                    }
                    else
                    {
                        <p></p>
                    }
                </td>
            </tr>

            <tr>
                <td style="padding-left:20px;">Manager's Check</td>
                <td class="text-center">
                    @if (Model.ManagerCheckDate != null)
                    {
                        <p style="height: 9px;">@Model.ManagerCheckDate?.ToString("MM/dd/yyyy")</p>
                    }
                    else
                    {
                        <p></p>
                    }
                </td>
                <td class="text-center">
                    @if (Model.ManagerCheckNo != null)
                    {
                        <p style="height: 9px;">@Html.DisplayFor(model => model.ManagerCheckNo)</p>
                    }
                    else
                    {
                        <p></p>
                    }
                </td>
                <td class="text-center">
                    @if (Model.ManagerCheckBank != null)
                    {
                        <p style="height: 9px;">@Html.DisplayFor(model => model.ManagerCheckBank)</p>
                    }
                    else
                    {
                        <p></p>
                    }
                </td>
                <td class="text-center">
                    @if (Model.ManagerCheckBranch != null)
                    {
                        <p style="height: 9px;">@Html.DisplayFor(model => model.ManagerCheckBranch)</p>
                    }
                    else
                    {
                        <p></p>
                    }
                </td>
                <td class="text-center">
                    @if (Model.ManagerCheckAmount != 0)
                    {
                        <p style="height: 9px;">@Html.DisplayFor(model => model.ManagerCheckAmount)</p>
                    }
                    else
                    {
                        <p></p>
                    }
                </td>
            </tr>

            <tr>
                <td style="padding-left:20px;">EWT</td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center">
                    @if (Model.EWT != 0)
                    {
                        <p style="height: 9px;">@Html.DisplayFor(model => model.EWT)</p>
                    }
                    else
                    {
                        <p></p>
                    }
                </td>
            </tr>
            <tr>
                <td style="padding-left:20px;">WVAT</td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center">
                    @if (Model.WVAT != 0)
                    {
                        <p style="height: 9px;">@Html.DisplayFor(model => model.WVAT)</p>
                    }
                    else
                    {
                        <p></p>
                    }
                </td>
            </tr>
            <tr>
                <td style="padding-left:20px;">TOTAL</td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center">
                    @if (Model.Total != 0)
                    {
                        <p style="height: 9px;">@Html.DisplayFor(model => model.Total)</p>
                    }
                    else
                    {
                        <p></p>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="text-center w-100" style="margin-top:10px;">
    <p @* style="line-height: 1;" *@>
        <em class="p-4"><strong>"THIS DOCUMENT IS NOT VALID FOR CLAIM OF INPUT TAX"</strong><br /></em>
        <span>Acknowledgement Certificate No:</span>
        <span style="display: inline-block;">@CS.ACCN</span>
        <span>&nbsp;&nbsp;Date Issued:</span>
        <span style="display: inline-block;">@CS.DateIssued</span><br />
        Series: CR0000000001 - CR9999999999
        Date and Time Created:&nbsp;@Model.CreatedDate
    </p>
</div>

<br />
<div class="text-start footer" style="margin-top:20px;">
    <p style="line-height: 1;">
        <em>
            <strong>Software Name :</strong> Accounting Administration System (AAS)
            <br />
            <strong>Version :</strong> @CS.Version
            <br />
            <strong>Printed By :</strong> @UserManager.GetUserName(User).ToUpper()
            <br />
            <strong>Date & Time Printed :</strong> @DateTime.Now.ToString("MM/dd/yyyy hh:mm tt")
        </em>
    </p>
</div>

@if (!Model.IsPrinted)
{
    <div class="text-end">
        ORIGINAL COPY
    </div>
}
else
{
    <div class="text-end">
        REPRINT COPY
    </div>
}
@if (Model.PostedBy == null)
{
    <a class="btn btn-success" onclick="confirmPost(@Model.Id)" style="margin-top: 25px;">Post</a>
}
else
{
    <a asp-action="PrintedMultipleCR" class="btn btn-success" asp-route-id="@Model.Id" onclick="printPage()" style="margin-top: 25px;" id="printButton">Print</a>
}
<a asp-action="CollectionIndex" class="btn" style="margin-top: 25px;" id="otherButton">Back</a>

@section Scripts {
    <script>
        var originalFontSizes = [];

        function printPage() {
            var printButton = document.getElementById("printButton");
            var otherButton = document.getElementById("otherButton");

            // Hide the header and footer
            document.querySelector("header").style.display = "none";

            // Hide the buttons before printing
            if (printButton) {
                printButton.style.visibility = "hidden";
            }
            if (otherButton) {
                otherButton.style.visibility = "hidden";
            }

            // Get all paragraph elements
            var paragraphs = document.querySelectorAll("p");

            // Store the original font sizes
            for (var i = 0; i < paragraphs.length; i++) {
                originalFontSizes[i] = paragraphs[i].style.fontSize;
                // Set the font size of all paragraph elements to 12px for printing
                paragraphs[i].style.fontSize = "12px";
            }

            // Call the print function
            window.print();

            // Restore the font sizes
            for (var i = 0; i < paragraphs.length; i++) {
                paragraphs[i].style.fontSize = originalFontSizes[i];
            }

            // Restore the buttons' visibility after printing (optional)
            if (printButton) {
                printButton.style.visibility = "visible";
            }
            if (otherButton) {
                otherButton.style.visibility = "visible";
            }

            // Restore the header and footer's visibility after printing (optional)
            document.querySelector("header").style.display = "";
        }
    </script>
    <script>
        function confirmPost(itemId) {
            console.log(itemId);
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Replace with the actual URL that you want to redirect to
                    var url = `/Receipt/Post?itemId=${itemId}`;
                    window.location.href = url;
                }
            })
        }
    </script>
}
