@using Accounting_System.Models.ViewModels
@model IEnumerable<CheckVoucherVM>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Check Voucher</h1>

<table class="table table-hover" id="myOwnTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Header.CVNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Header.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Header.Supplier.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Header.Category)
            </th>
            <th style="width:300px;"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Header.CVNo)
            </td>
            <td>
                @item.Header.Date.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Header.Supplier.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Header.Category)
            </td>
            <td>
                @if (item.Header.CreatedBy == UserManager.GetUserName(User))
                {
                    if (!item.Header.IsPosted && !item.Header.IsVoided && !item.Header.IsCanceled)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Header.Id" class="btn btn-light">Edit</a>
                        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#Preview-@item.Header.Id" data-bs-url="@Url.Action($"Preview/{item.Header.Id}")">
                            Preview
                        </button>
                        @await Html.PartialAsync("_PreviewCV",item)
                        <a class="btn btn-light" onclick="confirmPost(@item.Header.Id)">Post</a>
                        <a class="btn btn-light" onclick="confirmCancel(@item.Header.Id)">Cancel</a>
                    }
                            if (item.Header.IsPosted && !item.Header.IsVoided && !item.Header.IsCanceled)
                    {
                        <a asp-action="Print" asp-route-id="@item.Header.Id" class="btn btn-light">Print</a>
                        <a class="btn btn-light" onclick="confirmVoid(@item.Header.Id)">Void</a>
                    }
                }

                @if (item.Header.IsVoided)
                {
                    <span class="badge rounded-pill bg-danger ">VOIDED</span>
                }
                else if (item.Header.IsCanceled)
                {
                    <span class="badge rounded-pill bg-warning ">CANCELLED</span>
                }
                else
                {
                    @if (item.Header.CreatedBy != UserManager.GetUserName(User))
                    {
                        <span class="badge rounded-pill bg-info ">VALID</span>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts{
    <script>
        function confirmPost(cvId) {
            console.log(cvId);
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Post'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Replace with the actual URL that you want to redirect to
                    var url = `/CheckVoucher/Post?cvId=${cvId}`;
                    window.location.href = url;
                }
            })
        }
    </script>
    <script>
        function confirmVoid(Id) {
            console.log(Id);
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Replace with the actual URL that you want to redirect to
                    var url = `/CheckVoucher/Void?Id=${Id}`;
                    window.location.href = url;
                }
            })
        }
    </script>
    <script>
        function confirmCancel(Id) {
            console.log(Id);
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Replace with the actual URL that you want to redirect to
                    var url = `/CheckVoucher/Cancel?Id=${Id}`;
                    window.location.href = url;
                }
            })
        }
    </script>
    }
